<div id="root-div">
    <div class="animation-container">
        @if (isModeLogin){
            <div class="panel" @modeSwitch>
                <ng-container *ngTemplateOutlet="layoutLogin"></ng-container>
            </div>
        }@else {
            <div class="panel" @modeSwitch>
                <ng-container *ngTemplateOutlet="layoutRegister"></ng-container>
            </div>
        }
        
    </div>

    <ng-template #layoutLogin>
        <div class="container-layout">
            <h1>Log in</h1>
            <form [formGroup]="formLogin" class="form">
                <div class="field-and-label">
                    <label for="login-username-field" class="login-label">Login or Email :</label>
                    <input type="text" formControlName="username" id="login-username-field">
                </div>
                <div class="field-and-label">
                    <label for="login-password-field" class="login-label">Password :</label>
                    <div class="div-password">
                        <input [type]="visiblePass ? 'text' : 'password'" formControlName="password" class="password-input" id="login-password-field">
                        <div (click)="togglePasswordVisibility()" class="{{passwordClass}} toggle-password-visibility">
                        </div>
                    </div>
                </div>
                
                <div class="buttons">
                    <button (click)="login()" class="text-button">Log in</button>
                    <button mat-button (click)="onNoClick()" class="text-button">Cancel</button>
                </div>
            </form>
        </div>
        
        <div class="login-register">
            <p (click)="toggleModeLogin()" class="text-button hover-pointer">Create account</p>
        </div>
        <app-loading-dots [isLoading]="isLoading"/>
    </ng-template>

    <ng-template #layoutRegister>
        <form [formGroup]="formRegister" class="form">
            <div class="container-layout">
                <h1>Register</h1>
                
                    <div class="field-and-label">
                        <label for="register-user-name" class="register-label">Username :</label>
                        <input type="text" formControlName="username" (input)="checkUserNameAvailability()" id="register-user-name">
                    </div>
                    @if(formRegister.get('username')?.hasError){
                        <div class="error">
                            @if(formRegister.get('username')?.hasError('minlength') || formRegister.get('username')?.value === ''){
                                <div>Username must be at least 3 characters long</div>
                            }@if(formRegister.get('username')?.hasError('maxlength')){
                                <div>Username cannot exceed 255 characters</div>
                            }@if(formRegister.get('username')?.hasError('pattern')){
                                <div>Username can only contain uppercase letters, lowercase letters, numbers, '_' and '-'</div>
                        }
                        </div>
                    }
                    @if(!usernameIsAvailable){
                        <div class="error">
                            Username already exists
                        </div>
                    }@else if(!formRegister.get('username')?.hasError){
                        <div class="success">
                            Username available and valid
                        </div>
                    }
                    <div class="field-and-label">
                        <label for="register-user-password" class="register-label">Password :</label>
                        <div class="div-password">
                            <input [type]="visiblePass ? 'text' : 'password'" formControlName="password" id="register-user-password" class="password-input">
                            <div (click)="togglePasswordVisibility()" class="{{passwordClass}} toggle-password-visibility">
                        </div>
                    </div>
                    </div>
                    @if(formRegister.get('password')?.hasError){
                        <div class="error">
                            @if(formRegister.get('password')?.hasError('minlength') || formRegister.get('password')?.value === ""){
                                <div>Password must be at least 8 characters long</div>
                            }@if(formRegister.get('password')?.hasError('maxlength')){
                                <div>Password cannot exceed 64 characters</div>
                            }@if(formRegister.get('password')?.hasError('pattern') || formRegister.get('password')?.value === ""){
                                <div>Password must contain each of the following : a lowercase letter, an uppercase letter, a number and a special character</div>
                        }
                        </div>
                    }@else {
                        <div class="success">
                            Password is valid
                        </div>
                    }
                    
                    <div class="buttons">
                        @if(formRegister.invalid || !usernameIsAvailable){
                            <button disabled class="text-button">Register</button>
                        }@else {
                            <button (click)="register()" class="text-button">Register</button>
                        }
                        
                        <button mat-button (click)="onNoClick()" class="text-button">Cancel</button>
                    </div>
                
            </div>
        </form>
        <div class="login-register">
            <p (click)="toggleModeLogin()" class="text-button hover-pointer">Log in</p>
        </div>

        <app-loading-dots [isLoading]="isLoading"/>
    </ng-template>

</div>