<div>
    <div *ngTemplateOutlet="isModeLogin ? layoutA : layoutB"></div>

        <ng-template #layoutA>
            <form action="" target="" method="post">
            <label for="login-field">login</label>
            <input type="text" name="login-field" id="login-field">
            
            <label for="password-field">password</label>
            <input type="text" name="password-field" id="password-field">

            
        </form>
        <div>
            

            <button (click) = "sendNameToBack()">Log in</button>
        </div>
        
        
        </ng-template>

    <ng-template #layoutB>
        <div>
            <label for="registerUserName">Nom utilisateur</label>
            <input type="text" id="registerUserName" [(ngModel)]="registerUsername">
            <label for="registerUserPassword">Mot de passe</label>
            <input type="text" id="registerUserPassword" [(ngModel)]="passwordUsername">
        </div>
        <div>
            <button (click)="registerNewAndApprovedUser()">Register</button>
        </div>
    </ng-template>


        <div>
            <p (click)="toggleModeLogin()" #toggleButton>Créer un compte</p>
        </div>
        <button mat-button (click)="onNoClick()">No Thanks</button>
</div>