.user-list{
    max-width: 50%;
    margin: 5%;
}

.research-input{
    margin-left: 5%;
    margin-top: 5%;
    font-size: 3rem;

    input{
        line-height: 3rem;
        font-size: 3rem;
    }
}