
<form [formGroup]="form">
<div id="update-container">
    
    <div>
        <mat-selection-list #permissionList name="permissions" [multiple]="false" class="permission-list" [hideSingleSelectionIndicator]="true" (selectionChange)="onSelectionChange($event)" id="admin-permission-list">
            @for (permission of arrayPermissions; track permission) {
                <mat-list-option [value]="permission" [selected]="permission.id === selectedPermission?.id">
                    <div class="permission-display-list">
                        {{permission.name}}  
                    </div>
                </mat-list-option>
            }
        </mat-selection-list>

        <div>
            <div id="new-permission" #newPermissionDiv class="add-permission-div">
                <input type="text" id="new-permission-text-field" [(ngModel)]="newPermissionField" [ngModelOptions]="{ standalone: true }"> 
                <div id="new-permission-buttons">
                    <button (click)="makeNewPermission()" [disabled]="!isNewPermissionNameValid">Confirm</button>
                    <button (click)="hideNewPermissionField()">Cancel</button>
                </div>
                @if (newPermissionField.includes(" ")) {
                    <div class="warning">
                        All blank spaces will be removed
                    </div>
                }
            </div>
            <div class="add-permission-div" #newPermissionButtonDiv id="add-new-permission-button-div">
                <input type="button" value="Add new permission" (click)="showNewPermissionField()" #buttonNewPermission>
            </div>
        </div>
    </div>

    <div id="permission-update-form">
        <input type="text" formControlName="name" id="permission-name-textfield">
        @if (form.get('name')?.hasError('invalidPermissionName')) {
            <div class="error">
                Name cannot be empty or just "_PERMISSION"
            </div>
        }
        @if (form.get('name')?.value?.includes(" ")) {
            <div class="warning">
                All blank spaces will be removed
            </div>
        }
        <h3>Associated roles</h3>
        <mat-list role="list" id="associated-roles-list">
            @for (role of associatedRoles; track role) {
                <mat-list-item>
                    <div class="role-display-list-items">
                        {{role.name}}
                        @if (role.adminRole === true){
                            <span>(Admin)</span>
                        }@if (role.defaultRole === true){
                            <span>(Default)</span>
                        }
                        <input type="button" value="-" class="manage-role-button" (click)="toggleRole(role.name)">
                    </div>
                </mat-list-item>
            }
        </mat-list>

        <h3>Available roles</h3>
        <mat-list role="list" id="available-roles-list">
            @for (role of notAssociatedRoles; track role) {
                <mat-list-item>
                    <div class="role-display-list-items">
                        {{role.name}}
                        @if (role.defaultRole === true){
                            <span>(Default)</span>
                        }
                        <input type="button" value="+" class="manage-role-button" (click)="toggleRole(role.name)">
                    </div>
                </mat-list-item>
            }
            @if (notAssociatedRoles.length === 0){
                <span class="no-role-message">No more roles to associate</span>
            }
        </mat-list>
        <div id="confirm-buttons">
            @if(form.valid){
                <input type="button" value="Save" (click)="completeProcedure()">
            }@else{
                <input type="button" value="Save" disabled>
            }
            
            <input type="button" value="Cancel" (click)="cancelChanges()"> 
            <input type="button" value="Delete" (click)="deletePermission()">
             
        </div>
    </div>
</div>

</form>