#header{
    min-width: 100%;
    min-height: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(18, 39, 57);
 }

#logo{
    max-height: 14vh;
}


.banner{
    width: 80vw;
    height: 30vh;
    background-image: url('/../assets/header-assets/temp_banner.png');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

@media (min-height: 1305px) {
  .banner{
    width: 80vw;
    height: 24vh;
    background-image: url('/../assets/header-assets/temp_banner.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}