/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { 
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: rgb(18, 39, 57);
    color: rgb(231, 219, 194);
}

.success-snackbar {
  --mdc-snackbar-container-color: rgb(192, 201, 94);
  --mdc-snackbar-supporting-text-color: rgb(18, 39, 57);
  --mat-snack-bar-button-color: rgb(18, 39, 57);
}

.failure-snackbar{
  --mdc-snackbar-container-color: rgb(192, 201, 94);
  --mdc-snackbar-supporting-text-color: red;
  --mat-snack-bar-button-color: red;
}