<form [formGroup]="form">
<div id="update-container">
    
    <mat-selection-list #roleList name="roles" [multiple]="false" class="role-list" [hideSingleSelectionIndicator]="true" 
    (selectionChange)="onSelectionChange($event)">
        @for (role of arrayRoles; track role) {
            <mat-list-option [value]="role" [selected]="role.id === selectedRole?.id">
                <div class="role-display-list">
                    {{role.name}}
                    
                    @if (role.adminRole === true){
                        <span>(Admin)</span>
                    }@if (role.defaultRole === true){
                        <span>(Default)</span>
                    }
                </div>
            </mat-list-option>
        }
    </mat-selection-list>

    <div id="role-update-form">
        <input type="text" formControlName="name">
        <h3>Associated permissions</h3>
        <mat-list role="list">
            @for (permission of associatedPermissions; track permission) {
                <mat-list-item>
                    <div class="permission-display-list-items">
                        {{permission.name}}
                        <input type="button" value="-" class="manage-permission-button" (click)="togglePermission(permission.name)">
                    </div>
                </mat-list-item>
            }
            @if (associatedPermissions.length === 0){
                <span class="no-permission-message">No associated permission</span>
            }
        </mat-list>

        <h3>Available permissions</h3>
        <mat-list role="list">
            @for (permission of notAssociatedPermissions; track permission) {
                <mat-list-item>
                    <div class="permission-display-list-items">
                        {{permission.name}}
                        <input type="button" value="+" class="manage-permission-button" (click)="togglePermission(permission.name)">
                    </div>
                </mat-list-item>
            }
            @if (notAssociatedPermissions.length === 0){
                <span class="no-permission-message">No more permissions to associate</span>
            }
        </mat-list>

        <h3>Add new permission : </h3>
        <div id="add-permission">
            <div class="permission-display-list-items">
                <input type="text" placeholder="New Permission" id="permission-text-field" [(ngModel)]="newPermissionField" [ngModelOptions]="{ standalone: true }">
                <input type="button" value="+" class="manage-permission-button" (click)="associateNewPermission()">
            </div>
        </div>

        <div id="new-admin-role">
            <h3>Set as new default role :</h3>
            <mat-checkbox class="defaultrole-checkbox" formControlName="defaultRole" disableRipple = true [disabled]=true></mat-checkbox>
        </div>
        

        <div id="confirm-buttons">
            <input type="button" value="Save" (click)="completeProcedure()">
            <input type="button" value="Cancel" (click)="cancelChanges(form.value.id)">
            <!-- This button cannot show on role admin nor default role -->
            <!-- This button triggers a pop up for extra validation -->
            <input type="button" value="Delete">
        </div>
    </div>
</div>

</form>