<div class="role-list-component">
    <form [formGroup]="form">
        <div id="update-container">
            <div>
                <mat-selection-list #roleList name="roles" [multiple]="false" class="role-list" [hideSingleSelectionIndicator]="true" (selectionChange)="onSelectionChange($event)" id="admin-role-list">
                    @for (role of arrayRoles; track role) {
                        <mat-list-option [value]="role" [selected]="role.id === selectedRole?.id">
                            <div class="role-display-list">
                                {{role.name}}
                                
                                @if (role.adminRole === true){
                                    <span>(Admin)</span>
                                }@if (role.defaultRole === true){
                                    <span>(Default)</span>
                                }
                            </div>
                        </mat-list-option>
                    }
                </mat-selection-list>

                <div (mousedown)="clickedInside = true">
                    <div id="new-role" #newRoleDiv class="add-role-div">
                        <input type="text" id="new-role-text-field" [(ngModel)]="newRoleField" [ngModelOptions]="{ standalone: true }"> 
                        <div id="new-role-buttons">
                            <button (click)="makeNewRole()" [disabled]="!isNewRoleNameValid">Confirm</button>
                            <button (click)="hideNewRoleField()">Cancel</button>
                        </div>
                        @if (newRoleField.includes(" ")) {
                            <div class="warning">
                                All blank spaces will be removed
                            </div>
                        }
                    </div>
                    <div class="add-role-div" #newRoleButtonDiv id="add-new-role-button-div">
                        <input type="button" value="Add new role" (click)="showNewRoleField()" #buttonNewRole class="text-button">
                    </div>
                </div>
            </div>

            <div id="role-update-form">
                <input type="text" formControlName="name" id="role-name-textfield">
                @if (form.get('name')?.hasError('invalidRoleName')) {
                    <div class="error">
                        Name cannot be empty or just "ROLE_". Format rules : only a-z, A-Z, 0-9, no special characters except '_' (not at start). Lower case letters will be changed to upper case.
                    </div>
                }
                @if (form.get('name')?.value?.includes(" ")) {
                    <div class="warning">
                        All blank spaces will be removed
                    </div>
                }
                <h3>Associated permissions</h3>
                <mat-list role="list" id="associated-permissions-list">
                    @for (permission of associatedPermissions; track permission) {
                        <mat-list-item>
                            <div class="permission-display-list-items"  (click)="togglePermission(permission.name)">
                                {{permission.name}}
                                @if(!selectedRole?.adminRole || permission.id < 0){
                                    <input type="button" value="-" class="manage-permission-button">
                                }@else{
                                    <input type="button" value="-" class="manage-permission-button" disabled="true">
                                }
                            </div>
                        </mat-list-item>
                    }
                    @if (associatedPermissions.length === 0){
                        <span class="no-permission-message">No associated permission</span>
                    }
                </mat-list>

                <h3>Available permissions</h3>
                <mat-list role="list" id="available-permissions-list">
                    @for (permission of notAssociatedPermissions; track permission) {
                        <mat-list-item>
                            <div class="permission-display-list-items" (click)="togglePermission(permission.name)">
                                {{permission.name}}
                                <input type="button" value="+" class="manage-permission-button" >
                            </div>
                        </mat-list-item>
                    }
                    @if (notAssociatedPermissions.length === 0){
                        <span class="no-permission-message">No more permissions to associate</span>
                    }
                </mat-list>

                <h3>Add new permission : </h3>
                <div id="add-permission">
                    <div class="permission-display-list-items">
                        <input type="text" placeholder="NEW_PERMISSION" id="permission-text-field" [(ngModel)]="newPermissionField" [ngModelOptions]="{ standalone: true }">
                        <input type="button" value="+" class="manage-permission-button" (click)="associateNewPermission()" [disabled]="!isNewPermissionNameValid" id="add-new-permission-button">
                    </div>
                    @if (newPermissionField.includes(" ")) {
                    <div class="warning">
                        All blank spaces will be removed
                    </div>
                }
                </div>

                <div id="new-default-role">
                    <h3>Set as new default role :</h3>
                    <mat-checkbox class="defaultrole-checkbox" formControlName="defaultRole" disableRipple = true [disabled]=true></mat-checkbox>
                </div>

                <div id="confirm-buttons">
                    @if(form.valid){
                        <input type="button" value="Save" (click)="completeProcedure()" class="text-button">
                    }@else{
                        <input type="button" value="Save" disabled class="text-button">
                    }
                    
                    <input type="button" value="Cancel" (click)="cancelChanges()" class="text-button">
                    @if(!selectedRole?.adminRole && !selectedRole?.defaultRole){
                        <input type="button" value="Delete" (click)="deleteRole()" class="text-button">
                    }
                </div>
            </div>
        </div>
    </form>
</div>