.role-list mat-list-option[aria-selected="true"]{
  background-color: red;
  
}

.role-list {
  border: 1px black solid;
}

#update-container {
  border: 1px black solid;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 1%;
  padding: 1%;
}

#role-update-form{
  border: 1px black solid;
  display: flex;
  flex-direction: column;
  
  & > *{
    margin: 1em;
  }
}



#confirm-buttons{
  display: flex;
  
  justify-content: space-around;
}